@import "./home/home";
@import "./app/app.clock";
	
 body {
	background-color: #bf9b30;
	position: relative;
	.main-wrap {
	padding: 15px;
	}
	.main-wrap h1 {
		color: #fff;
		font-size: 150%;
		margin: 0;
	}
	.alert-container {
		position: absolute;
		top: 15px;
		right: 15px;
		min-width: 150px;

		.alert {
			transition: all linear 0.5s;
		}
		.alert.ng-hide {
		  opacity: 0;
		}
	}	
	.logo {
		text-align: center;
	}

	.time-in.btn,
	.log.btn  {
		background-color: #322864;
		border-color: #140b40;
		color: #fff;
	}
	.time-in.btn:hover {
		background-color: #140a46;
		border-color: #140b40;
		color: #fff;
	}
	.form-control {
		margin-bottom: 15px;
	}
	.no-padding-right {
		padding-right: 0 !important;
	}
	.profile-img img {
		width: 200px;
		height: 200px;
		margin-bottom: 15px;
	}
	.sub-heading {
		font-size: 150%;
	}
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

