<div class="col-md-6 col-md-offset-3 time-in step">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<p class="sub-heading">Please enter your details</p>

			<form ng-submit="timeIn.manualTimeIn()">
				<input ng-disabled="timeIn.isSubmitting" type="text" ng-model="timeIn.user.firstName" class="form-control input-lg" placeholder="First Name">

				<input ng-disabled="timeIn.isSubmitting" type="text" ng-model="timeIn.user.lastName" class="form-control input-lg" placeholder="Last Name">

				<select ng-disabled="timeIn.isSubmitting" name="purpose" ng-model="timeIn.user.purpose" class="form-control input-lg">
					<option disabled="disabled" selected="selected">Select a Purpose</option>
					<option ng-repeat="purpose in timeIn.purposes" value="{{purpose.codeValue}}">{{purpose.codeValue}}</option>
				</select>

				<input ng-disabled="timeIn.isSubmitting" ng-show="timeIn.user.purpose == 'Others'" type="text" ng-model="timeIn.otherPurpose" class="form-control input-lg" placeholder="Purpose">

				<div class="row">
					<div class="col-md-12">
						<button ng-disabled="timeIn.isSubmitting" type="submit" class="time-in btn btn-default btn-block btn-lg">Time in</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>